.content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 1px;
    background: #f3f3f3;
}

.blue {
    background: springgreen;
    color: white;
    border-radius: 10px;
}

.what-you-get-holder {
    text-align: end;
    color: white;
    margin-bottom: 5px;
}

.what-you-get-content {
    background: dodgerblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}